body {
  min-width: 1200px;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  }


h1 {
  font-size: 60px;
  line-height: 30px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.none {
    display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
	width: 1146px;
  	margin: 0 auto;
	padding: 0 27px;
	
	}
	
ul {
	padding: 0;
	}
	
.pagination {
	text-align: right;
	}
	
/* Шапка */
.main-header-index  {
	margin-bottom: 284px;
	}
	
.main-header-catalog  {
	margin-bottom: 10px;
	}

.logo-img {
	float: left;
	margin-left: -6px;
	width: 155px;
	
	}
	
.main-navigation {
	float: left;
	width: 674px;
  padding-left: 30px;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	}
	
.main-navigation > ul > li{
		display:inline-block;
		position:relative;
		list-style: none;
	}
	
.main-navigation .sub-menu {
		position:absolute;
		margin: 0;
    padding: 0;
		list-style: none;
		display: none;
	}
	
.main-navigation > ul > li:hover .sub-menu {
	display: block;
} 
		
.user-block {
	float: right;
	position: relative;
	width: 267px; 
	}
	
.search-main,
.logon-main,
.cart-main {
	display: inline-block;
	position: relative;
	}
	

.brief-info {
	position: absolute;
	margin: 0;
  padding: 0;
	top: 75px;
	right: 0;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	}
	
.brief-info b {
	font-size: 22px;
	}
	
.breadcrumbs {
	float: left;
	width: 560px;
	}
	
.breadcrumbs li {
	display:inline-block;
	list-style:none;
	}

.brief-info {
	float: right;
	width: 267px;
	}

/* Слайдер */

.main-slider {
	margin-bottom: 40px;
	text-align: center;
	}
	

.slider {
	float:left;
	min-height: 210px;
	width: 1146px;
}

.slider-title {
	line-height: 60px;
	}
	
/* Баннеры */

.banners {
	margin-bottom: 40px;
	}
	
.banner-index {
	float: right;
	margin-left: 26px;
	width: 560px;
	min-height: 230px;
}
.banner-index:last-child {
	margin-left: 0px;	
	}
	
	/* Фильтры */
	
	.filter {
		display:inline-block;
		}
	
	.filter-item-wrapper {
		display:inline-block;
		}
	
	/* товары */
	
.products {
	margin-bottom: 40px;
	font-size: 0;
	box-sizing: border-box;
	}
	
.product-inner {
	display: inline-block;
	width: 267px;
	margin-right: 26px;
	vertical-align: top;
	font-size: 16px;
	outline: 3px solid blue; 
	
	}
	
.product-inner:nth-child(4n){
	margin-right:0;
	}
	
	/* инфоблок */
	
.info-row {
	margin-bottom: 40px;
	
	}
	
.info-text-wrapper {
	display: inline-block;
	width: 539px;
	margin-right: 26px;
	
	}
	
	
	/* инфоблок */
	
.news-block-wrapper {
	margin-bottom: 40px;
	}
	
.news-block-item {
	float: left;
	margin-right: 26px;
	width: 560px;
	}
	
.news-block-item:last-child {
	margin-right: 0px;
	}
	
	/* карта */
	
.map {
	margin-bottom: 20px;
	}
	
.map-contact {
	float:right;
	width: 302px;
	margin-top: 62px;
	margin-right: 27px;
	}
	/* подвал */
	
.footer {
	padding: 0;
	margin: 0;
	}
	
.footer-social {
	float:left;
	width: 267px;
	min-height: 70px;
	margin-right: 26px;
	}
	
.footer-nav {
	width: 560px;
	}

.footer-menu {
	float:left;
	font-size: 0;
	}
	
.footer-menu li {
	display: inline-block;
	font-size: 13px;
	vertical-align: middle;
	list-style: none;
	}
	
.copyright {
	float: right;
	width: 267px;
	font-size: 12px;
	text-align: right;
	}
	
	/* */
	
	body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > *{
  position: relative;
}


body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}



body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > *{
  background: rgba(0,106,206,0.42);
  box-shadow: 0 0 0 3px blue;
}


body > * > * > * > *{
  background: rgba(76,0,128,0.20);
  box-shadow: 0 0 0 3px purple;
}

body > * > * > * > * > *{
  background: rgba(120,128,0,0.20);
  box-shadow: 0 0 0 3px yellow;
}